.nav-list {
  list-style: none;
  max-width: 1440px;
  @include flex;
  @include reset-space;
  @include push-auto;

  &__item {
    background: $block-background;
    padding: 10px 20px;
  }

  &__link {
    color: $text-color;
    text-decoration: none;
  }
}

@include phone {

  .nav-list {
    max-width: 700px;
    @include reset-space;
    @include push-auto;

    &__item {
      padding: 5px;
    }

    &__link {
      font-size: 10px;
    }
  }
}