.main-page {
  margin: 30px auto;
}

.header-content,
.main-content,
.footer-content {
  padding: 30px;
}

.main-content {
  max-width: 1000px;
}

.main-btn {
  width: 200px;
}

.btn {
  display: none;
}
