
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

.main-header {
  width: 90%;
  height: 15%;
  margin: 0 5%;
  border: 1px solid black;
  border-radius: 0 0 30px 30px;
}

.header-content h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.main-page {
  width: 90%;
  margin: 0 5%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 5%;
  width: 10%;
  height: 600px;
  background: rgba(111, 77, 99, 50%);
}

.sidebar li a {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.main-content {
  padding-left: 15%;
}

.main-footer {
  width: 90%;
  height: 15%;
  margin: 0 5%;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px 30px 0 0;
}

.footer-content {
  margin: auto;
  padding: 20px 0;
}
